<!-- templates/base.html -->
<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Student Secrets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-small is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Student Secrets
                </h1>
                <h2 class="subtitle">
                    You know you want to.
                </h2>
            </div>
        </div>
    </section>
    {% block content %} BODY CONTENT GOES HERE {% endblock %}

</body>

</html>