<!-- templates/secrets_new.html -->
{% extends 'base.html' %} {% block content %}
<section class="section">
    <div class="container">
        <form method="POST" action="/secrets">
            <!--TYPE-->
            <!-- <div class="is-horizontal"> -->
            <!-- <div class="field-label"> -->
            <!-- Left empty for spacing -->
            <!-- </div> -->
            <!-- <div class="field-body"> -->
            <!-- <div class="field"> -->
            <!-- <div class="control"> -->
            <p>
                <h1 class="title">New Secret</h1>
                <h2 class="subtitle">
                    Spill it hon.
                </h2>
            </p>
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Type</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <div class="select">
                                <div class="icon is-left">
                                    <i class="far fa-surprise"></i>
                                </div>
                                <select name="secret-type" required class="is-rounded has-icons-left">
                                    <option value="Type" disabled selected>Type of Secret</option>
                                    <option value="Crush">Crush</option>
                                    <option value="Crime">Crime</option>
                                    <option value="Trauma">Trauma</option>
                                    <option value="Orientation">Sexual Orientation</option>
                                    <option value="Relationship">Hidden Relationship</option>
                                    <option value="Surprise">Surprise</option>
                                    <option value="Habit">Habit</option>
                                    <option value="Fantasy">Fantasy</option>
                                    <option value="Dream">Dream</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Secret Holder</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="secret-holder" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Secret</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" name="secret-text" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="timestamp" id="todayDate" />
            <script type="text/javascript">
                function getDate() {
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                    if (mm < 10) {
                        mm = '0' + mm
                    }
                    today = yyyy + "" + mm + "" + dd;

                    document.getElementById("todayDate").value = today;
                }

                //call getDate() when loading the page
                getDate();
            </script>
            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% endblock %}